<div id = "header" class = "navBar">
    <button id = "logout"> {{message}}. Click to Logout! </button>
</div>

<div id = "twoteList" class = "mainList">
    <h1> Twotes </h1>
    <form id = "addTwote" action = "/addTwote" method = "POST">
        <input id = "messageInput" type = "text" value = "Enter a Message ..."/>
        <input type = "submit" action = "submit" value = "Post"/>
    </form>
    <br>
    {{#each twotes}}
        {{this.author}}<br>
        &nbsp;&nbsp;&nbsp; {{this.message}}<br><br>
    {{/each}}
</div>

<div id = "peopleList" class = "rightList">
    <h2> Users </h2>
    <br>
    {{#each people}}
        {{this.name}}<br>
    {{/each}}
</div>