<form id = "login" action = "/login" method = "POST">
   Name: <input name = "username" type = "text"/><br>
   Password: <input name = "password" type = "password"/><br>
   &nbsp;<input id = "submit" type = "submit" value = "Login">
</form>
&nbsp;&nbsp;{{message}}

<br>
or
</br>
<a href="/auth/facebook">Login with Facebook</a>