<form id = "login" action = "/login" method = "POST">
   Name: <input name = "username" type = "text" value = "username"/>
   &nbsp;<input id = "submit" type = "submit" value = "Login">
</form>
{{message}}