div.mainList {
    width:350px;
    float:left;
    padding:20px;
}

div.rightList {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:300px;
    float:right;
    padding:20px;
}

div.navBar {
    background-color:gray;
    color:black;
    text-align:right;
    padding:5px;
}

form#login {
    padding:10px;
}
